<main class="contenedor contenedor-formulario">
    <h1>
        <%- titlePage %>
    </h1>

    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input autocomplete="off" type="email" name="email" placeholder="Tu correo" />
        </div>

        <div class="campo">
            <label>Nombre</label>
            <input autocomplete="off" type="text" name="name" placeholder="Tu nombre" />
        </div>

        <div class="campo">
            <label>Contrase単a</label>
            <input type="password" name="password" placeholder="Contrase単a" />
        </div>

        <div class="campo">
            <label>Confirma Contrase単a</label>
            <input type="password" name="passwordConfirm" placeholder="Confirma contrase単a" />
        </div>
        <div class="campo enviar">
            <input type="submit" value="Crear cuenta" class="btn btn-rosa" />
        </div>
    </form>
</main>