<main class="contenedor contenedor-formularios">
    <h1>
        <%= titlePage %>
    </h1>
    <form method="post" class="default-form">
        <legend>¿Eliminar grupo? Un grupo eliminado no puede ser recuperado</legend>
        <div class="campo enviar">
            <input type="submit" value="Eliminar grupo" class="btn btn-rosa" />
        </div>
    </form>
</main>