<main class="contenedor contenedor-formularios no-pading">
    <h1>
        <%= titlePage %>
    </h1>

    <form action="/nuevo-grupo" class="default-form" method="POST">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="name" placeholder="Nombre del grupo" />
        </div>

        <div class="campo descripcion">
            <label>Descripción</label>
            <div class="contenedor-editor">
                <input type="hidden" id="x" name="description" />
                <trix-editor input="x"></trix-editor>
            </div>
        </div>

        <div class="campo">
            <label>Categoria</label>
            <select name="category">
                <option value="">Seleccione una categoria</option>
                <% categories.forEach(categorie=> { %>
                    <option value="<%= categorie.id %>">
                        <%= categorie.name %>
                    </option>
                    <% }) %>
            </select>
        </div>

        <div class="campo">
            <label>Imagen</label>
            <input type="file" name="image" />
        </div>

        <div class="campo">
            <label>Sitio web</label>
            <input type="url" name="url" placeholder="Tu sitio web" />
        </div>

        <div class="campo enviar">
            <label>Imagen</label>
            <input type="submit" value="Crear grupo" class="btn btn-rosa" />
        </div>
    </form>
</main>