<h1 style="
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
">Confirma tu cuenta</h1>
<p style="font-family: Arial, Helvetica, sans-serif;
">Hola, por favor, confirma tu cuenta en el siguiente enlace</p>
<a style="
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #00C897;
    color: #ccc;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
" href="<%= url%>">Confirma tu cuenta</a>

<p style="    font-family: Arial, Helvetica, sans-serif;
">En caso de no poder acceder, visita: <%= url %>
</p>
<p style="    font-family: Arial, Helvetica, sans-serif;
">Sino solicitaste este email, puedes ignorarlo</p>